@media(max-width: 670px){
    .season {
        position: relative;
        width: 100%;
        height: 25%;
        float:none;
    }

    .season img{
        width: 100%;
        height: auto;
        top:0;
        bottom:0;
    }

    .btn {
        padding-top: 10vh;
        padding-bottom: 7vh;        
    }

    .btn::after {
        top:  20vh;
    }

    footer p{
        margin-top: 95vh;
    }
}
