@media(max-width: 1200px){
    .content {
        width: 50%;
        margin-top: 20px;
    }
}

@media(max-width: 700px){
    .top {
        height: 180px;
    }
    .top h1{
        font-size: 80px;
        padding:30px 0px 0px 0px;
    }
    .top p {
        padding: 50px 0px 0px;
        font-size: 20px;
    }
    .content {
        width: 100%;
        margin-top: 20px;
    }
}